@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@page {
  size: A4;
  margin: 1cm;
}

:root {
  --grayish: #6b6f79;
  --black: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  height: auto;
}

#cv {
  width: 21cm;
  height: 29.7cm;
  background-color: #fbfbfb;
  display: flex;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
}

.about {
  margin: 50px 0 30px;
}

.personal-info > h2 {
  font-size: 22px;
  font-weight: bold;
}

.personal-info > h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.section > h2 {
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 4px;
}
p,
a,
i,
.section > ul > li,
.title {
  font-size: 12px;
}
.title > h4 {
  font-weight: 500;
  margin-bottom: 5px;
}
.title > h3 {
  font-style: italic;
  color: var(--grayish);
}

.info,
.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

li {
  margin-left: 15px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

i {
  color: var(--black);
}

a {
  margin-bottom: 2rem;
}
